:root.theme-light {
  --beckgackground-img: url(../images/cover-image-light.png);
  --beckgackground-color-page: #FFF1F7;
  --color-text-nav: #353430;
  --color-title-text: #FFC2E6;
  --beckgackground-color-text-block: #FF8DCB;
  --color-subtitle-text: #353430;
  --color-subtitle-text-title: #353430;
  --color-subtitle-text-block: #FF8DCB;
  --color-text-title: #353430;
  --color-visual-element: #353430;
  --color-text-shadow: #FF8DCB;
  --display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --beckgackground-img: url(../images/cover-image-light.png);
    --beckgackground-color-page: #FFF1F7;
    --color-text-nav: #353430;
    --color-title-text: #FFC2E6;
    --beckgackground-color-text-block: #FF8DCB;
    --color-subtitle-text: #353430;
    --color-subtitle-text-title: #353430;
    --color-subtitle-text-block: #FF8DCB;
    --color-text-title: #353430;
    --color-visual-element: #353430;
    --color-text-shadow: #FF8DCB;
    --display: none;
  }
} 