.page {
  flex-direction: column;
  background-image: var(--beckgackground-img);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--beckgackground-color-page);
}
.header {
  inline-size: 100%;
  min-block-size: 668px;
  position: relative;
}
.header__theme-menu-list {
  display: flex;
  min-inline-size: 100%;
  flex-direction: column;
  align-items: end;
  padding-inline-end: 3%;
  padding-block-start: 19%;
  gap: 1.6vh;
}
.header__theme-menu-button {
  inline-size: 10.5vh;
  block-size: 3.9vh;
  background: none;
  color: var(--color-text-nav);
  font-size: 2.7vh;
  font-family: var(--fonts);
  font-weight: normal;
  border: none;
  line-height: 2vh;
}
.header__theme-menu-button:hover {
  outline: 1px solid var(--color-focus-nav);
}
.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--src-element-nav);
}
.header__theme-menu-button_active {
  border: 0.2vh solid var(--color-visual-element);
  pointer-events: none;
}

.header_title {
  color: var(--color-title-text);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  margin-block-start: 18%;
  margin-inline-start: 2.7%;
  inline-size: 90%;
  text-shadow: 4px 4px 0 var(--color-text-shadow);
}
.header_text {
  background-color: var(--beckgackground-color-text-block);
  color: var(--color-subtitle-text);
  font-family: var(--fonts);
  font-weight: 700;
  margin-block-start: 14.5%;
  font-size: 2.7vh;
  line-height: 3.5vh;
  inline-size: 94.6%;
  margin-inline-start: 2.7%;
}
.header_REC {
  position: absolute;
  display: var(--display);
  color: var(--color-visual-element);
  font-family: var(--fonts);
  font-weight: 400;
  font-size: 2.7vh;
  right: 4.5%;
  top: 1.7%;
}
.header_REC::after {
  content: "";
  box-shadow: 0px 0px 4px 2px var(--color-visual-element);
  margin-inline-start: 1.4vh;
  margin-block-start: 0.9vh;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  opacity: 1;
  background: var(--color-visual-element);
}
.right_corner {
  position: absolute;
  block-size: 3.5vh;
  inline-size: 3.5vh;
  border-block-start: 1px solid var(--color-visual-element);
  border-inline-end: 1px solid var(--color-visual-element);
  top: 1.5%;
  right: 2.6%;
}
.left_corner {
  position: absolute;
  block-size: 3.3vh;
  inline-size: 3.3vh;
  border-block-end: 1px solid var(--color-visual-element);
  border-inline-start: 1px solid var(--color-visual-element);
  bottom: 1.5%;
  left: 2.6%;
}
.title {
  inline-size: 100%;
  margin-block-start: 10.7%;
}
.titel_src {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--color-text-shadow);
}
.titel_src:hover {
  border-block-end: 2px solid var(--src-element);
}
.titel_src:focus-visible {
  outline: 1px solid var(--src-element);
}
.title_text {
  color: var(--color-subtitle-text-title);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 2.7vh;
  inline-size: 98%;
  margin-block-end: 6%;
}
.subtitle_text {
  background-color: var(--color-subtitle-text-block);
  color: var(--color-subtitle-text);
  font-family: var(--fonts);
  font-weight: 400;
  font-size: 2.7vh;;
}
.text {
  color: var(--color-text-title);
  font-family: var(--fonts);
  font-weight: 400;
  font-size: 2.7vh;
  line-height: 3.5vh;
}
.easy {
  color: var(--color-subtitle-text);
  background-color: var(--color-subtitle-text-block);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 2.7vh;
}
.title_block_hard {
  margin-inline-start: 2.5%;
  inline-size: 90%;
}
.title_block_text {
  display: grid;
  gap: 2.5%;
  inline-size: 105%;
}
.title_text_block_hard {
  display: grid;
  gap: 3.7%;
  inline-size: 100%;
}
.title_block_attention {
  inline-size: 100%;
  margin-block-start: 24.3%;
  margin-inline-start: 2.5%;
}
.title_text_block_attention {
  gap: 1.8%;
  display: grid;
}
.title_text_attention {
  display: flex;
  flex-direction: column;
  gap: 1.8vh;
  inline-size: 94.5%;

}
.block_gold_fish {
  inline-size: 97%;
  margin-block-start: 22.5%;
  margin-inline-start: 2.3%;
}
.title_text_gold_fish {
  display: grid;
  gap: 1.3%;
}
.block_text_gold_fish {
  inline-size: 98%;
  display: grid;
  gap: 1.1%;
}
.text_gold_fish {
  display: grid;
  gap: 1.8vh;
}
.block_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: 95%;
  align-items: center;
  margin-inline-start: 2.5%;
  margin-block-start: 38%;
}
.text_block_img {
  color: var(--color-subtitle-text);
  background-color: var(--color-subtitle-text-block);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: 2.7vh;
  inline-size: 100%;
  justify-content: center;
}
.title_img {
  margin-block-start: 2.8%;
  display: grid;
  gap: 0.4%;
}
.gallery__image {
  inline-size: 100%;
  align-items: center;
  max-block-size: 100%;
  object-fit: cover;
}
.gallery__item {
  box-sizing: border-box;
  margin: 0;
}
.footer {
  position: relative;
  min-block-size: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 15%;
}
.footer_title {
  color: var(--color-title-text);
  font-family: var(--fonts);
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--color-text-shadow);
}

@media (width >= 768px) {
  .page {
    margin: 0;
  }
  .header {
    min-block-size: 1024px;
  }
  .header__theme-menu-list {
  min-inline-size: 100%;
  padding-inline-end: 2.6%;
  padding-block-start: 24.8%;
  gap: 1vh;
}
.header__theme-menu-button {
  inline-size: 6.7vh;
  block-size: 2.6vh;
  font-size: 1.8vh;
}
.header_title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  margin-block-start: 22.5%;
  margin-inline-start: 0;
  inline-size: 90%;
}
.header_text {
  margin-block-start: 21%;
  height: 100%;
  font-size: 1.75vh;
  line-height: 130%;
  inline-size: 47.4%;
  margin-inline-start: 50%;
}
.header_REC {
  font-size: 1.75vh;
  right: 3.6%;
  top: 2%;
}
.header_REC::after {
  margin-inline-start: 0.8vh;
  margin-block-start: 0.6vh;
}
.right_corner {
  block-size: 2.4vh;
  inline-size: 2.4vh;
  top: 2%;
  right: 2.6%;
}
.left_corner {
  block-size: 2.4vh;
  inline-size: 2.4vh;
  bottom: 2%;
  left: 2.6%;
}
.title {
  inline-size: 100%;
  margin-block-start: 8%;
}
.title_text {
  font-weight: 700;
  font-size: 1.75vh;
  inline-size: 100%;
  margin-block-end: 0;
  margin-inline-start: 2.5%;
}
.subtitle_text {
  font-size: 1.75vh;
}
.text {
  font-size: 1.75vh;
  line-height: 130%;
}
.easy {
  font-size: 1.75vh;
}
.title_block_hard {
  margin-inline-start: 2%;
  inline-size: 98%;
  display: grid;
  gap: 4.6%;
  grid-template-columns: 30% 60%;
}
.title_block_text {
  gap: 3%;
  inline-size: 104.5%;
}
.title_text_block_hard {
  gap: 5%;
  inline-size: 100%;
}
.title_text_block_attention {
  inline-size: 94.2%;
  margin-block-start: 5.8%;
  gap: 2.1vh;
  display: grid;
}
.title_block_attention {
  inline-size: 98%;
  margin-block-start: 18.9%;
  margin-inline-start: 1.3%;
}
.title_text_attention {
  gap: 0.9vh;
  inline-size: 102.5%;
  margin-block-start: 0;
  margin-inline-start: 1.4%;
}
.block_gold_fish {
  margin-block-start: 10.7%;
  margin-inline-start: 2%;
  display: grid;
  inline-size: 98%;
  gap: 4.6%;
  grid-template-columns: 30% 60%;
}
.block_text_gold_fish {
  gap: 0.8%;
  inline-size: 104.5%;
}
.title_text_gold_fish {
  display: grid;
  gap: 1.9%;
}
.text_gold_fish {
  gap: 4%;
  margin-block-start: 2%;
  inline-size: 100%;
}

.block_img {
  inline-size: 94.7%;
  margin-block-start: 24.5%;
  margin-inline-start: 2.7%;
}
.text_block_img {
  font-size: 1.75vh;
  inline-size: 100%;
}
.title_img {
  margin-block-start: 3%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25.5% ;
  gap: 2%;
}


.gallery__image {
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
  object-fit: cover;
}
.gallery__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1;
}
.gallery__item:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}
.gallery__item:nth-child(3) {
  grid-column: 1;
  grid-row: 2 / 4;
}
.gallery__item:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}
.gallery__item:nth-child(5) {
  grid-column: 2 / 4;
  grid-row: 3 / 4;
}
.footer {
  min-block-size: 1024px;
  margin-block-start: 11%;
}
.footer_title {
  line-height: 83%;
}
}

@media (width >= 1024px) {
.page {
  min-inline-size: 100%;
}
.header {
  min-block-size: 768px;
}
.header__theme-menu {
  inline-size: 100%;
}
.header__theme-menu-list {
  display: flex;
  inline-size: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-block-start: 2.4vh;
  padding-inline-end: 0;
  gap: 1.8vh;
}
.header__theme-menu-button {
  inline-size: 8.7vh;
  block-size: 3.4vh;
  font-size: 2.4vh;
  line-height: 1vh;
}
.header_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
  margin-block-start: 26.8%;
}
.header_text {
  margin-block-start: 11.1%;
  margin-inline-start: 50.1%;
  inline-size: 47.9%;
  block-size: 10%;
  font-size: 2.35vh;
  line-height: 129%;
}
.header_REC {
  font-size: 2.35vh;
  right: 2.65%;
  top: 2.7%;
}
.header_REC::after {
  margin-inline-start: 1.2vh;
  margin-block-start: 0.7vh;
}
.right_corner {
  block-size: 3.3vh;
  inline-size: 3.3vh;
  top: 2.6%;
  right: 2%;
}
.left_corner {
  block-size: 3.3vh;
  inline-size: 3.3vh;
  bottom: 2.6%;
  left: 2%;
}
.title {
  inline-size: 100%;
  margin-block-start: 5.8%;
}
.title_text {
  font-size: 2.35vh;
  inline-size: 99%;
  margin-inline-start: 1%;
}
.subtitle_text {
  font-size: 2.35vh;
}
.text {
  font-size: 2.35vh;
  line-height: 3.05vh;
}
.easy {
  font-size: 2.35vh
}
.title_block_hard {
  inline-size: 98%;
  margin-inline-start: 1.2%;
  gap: 2%;
  grid-template-columns: 32.2% 64.8%;
}
.title_block_text {
  gap: 4%;
  inline-size: 100%;
}
.title_text_block_hard {
  gap: 6.5%;
  inline-size: 100%;
}
.title_text_block_attention {
  display: grid;
  margin-block-start: 0;
  inline-size: 100%;
  gap: 0.5%;
  grid-template-columns: 1fr 1fr 1fr;
}
.title_block_attention {
  inline-size: 98%;
  margin-block-start: 14%;
  margin-inline-start: 1.2%;
}
.title_text_attention {
  gap: 1vh;
  inline-size: 96%;
  margin-block-start: 6.6%;
}
.block_gold_fish {
  block-size: 100%;
  inline-size: 98%;
  margin-block-start: 7.8%;
  margin-inline-start: 1.2%;
  gap: 0.9vh;
  grid-template-columns: 33.4% 64.8%;
}
.block_text_gold_fish {
  inline-size: 100%;
  gap: 1%;
}
.title_text_gold_fish {
  gap: 0.7%;
}
.text_gold_fish {
  gap: 1.4vh;
}
.block_img {
  inline-size: 96%;
  margin-block-start: 11%;
  margin-inline-start: 2%;
}
.text_block_img {
  font-size: 2.35vh;
}
.title_img {
  margin-block-start: 2%;
  grid-template-rows: 25.5% ;
  gap: 2%;
}
.footer {
  min-block-size: 768px;
  margin-block-start: 8.8%;
}
.footer_title {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
}
}